* {
    margin: 0;
    padding: 0;
   }

html, body {
    height: 100%;
}

.wrapper {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100%;

}
.header {
}
.main {
    flex: 1 1 auto;
}
.footer {
}